.git
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.env
01_data/user_library/*
01_data/reference_docs/*
!01_data/reference_docs/README.md
!01_data/reference_docs/demo_*.md
01_data/indexes/*
01_data/interim/*
01_data/processed/*
08_logs/*
07_results/experiments/*
*.zip
*.rar
build/
dist/
*.egg-info/
.coverage
coverage.xml
htmlcov/
