.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.env
.DS_Store

01_data/raw/*
01_data/processed/*
!01_data/raw/.gitkeep
!01_data/processed/.gitkeep

04_results/figures/*
04_results/metrics/*
04_results/models/*
04_results/predictions/*
!04_results/figures/.gitkeep
!04_results/metrics/.gitkeep
!04_results/models/.gitkeep
!04_results/predictions/.gitkeep

*.egg-info/
build/
dist/
